# Environment files
.env.docker
.env.localhost
.env.development
.env.production
.env.test

# Permitir apenas o exemplo
!.env.example

.venv/
.env 

# Next.js
.next/

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Java
target/