.tela-carregamento {
    background: #3182ce;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in;
    position: fixed;
    top: 0;
    left: 0;
}


.tela-carregamento #logo-carregamento {
    width: 180px;
    max-width: 60vw;
    animation: logoFadeIn 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    z-index: 2;
}

.tela-carregamento #titulo-carregamento {
    color: #fff;
    font-size: 2rem;
    font-bold: 600;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0;
    animation: fadeInLeft 1.2s 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    z-index: 1;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: scale(0.90);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}





@media (max-width: 600px) {
    .tela-carregamento {
        flex-direction: column;
    }

    .tela-carregamento #logo-carregamento {
        width: 120px;
    }

    .tela-carregamento #titulo-carregamento {
        font-size: 1.2rem;
    }
}






@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}